*.o
*.out
*.a
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
cscope.*
.dir
outdir
outdir-*
doc/_build
doc/_*
doc/doxygen
doc/xml
doc/html
doc/boards
doc/samples
doc/latex
doc/themes/zephyr-docs-theme
sanity-out/
scripts/grub
doc/reference/kconfig/CONFIG_*
doc/reference/kconfig/index.rst
tags
.project
.cproject
.xxproject
.envrc
.vscode
